In [225]:
import os
import pandas as pd
import numpy as np


1.	Create a file calc.py which has following functions
a.	Function to find the factorial of a number
b.	Function to convert degree to Fahrenheit
Write a new program in file “maths.py” such that you import functions of the file calc.py to your new program. Use from <module> import <functions> statement to import the functions from the calc module

In [267]:
import myPackage
from myPackage import maths

In [271]:
maths.calc.factorial(5)

120

In [270]:
maths.calc.dtof(32)

89.6

2.	Implement a simple generator for Fibonacci series

In [112]:
def generator_Fibonacci(num):
    for i in range(num):
        if i == 0:
            n1 = i
            yield i
        elif i == 1:
            n2 = i
            yield i
        else:
            n3 = n1 + n2
            yield (n3)
            n1 = n2
            n2 = n3

In [113]:
var1 = generator_Fibonacci(10)

In [114]:
print(next(var1))
print(next(var1))
print(next(var1))
print(next(var1))
print(next(var1))
print(next(var1))
print(next(var1))
print(next(var1))
print(next(var1))
print(next(var1))

0
1
1
2
3
5
8
13
21
34

3.	Write an iterator class to iterate over a sequence of values in the reverse direction

In [135]:
seq = [10,20,30,40,50,60,70,80,90,100]

myiter = reversed(seq)

for i in range(len(seq)):
    print(next(myiter))

100
90
80
70
60
50
40
30
20
10

4.	Write a function “salary” that takes in base pay, HRA and special allowance as arguments and returns the sum of all the 3 salary elements. Then create a decorator function to add an additional element “Tax” (30% of base pay) and assign it back to base pay variable, and return the function (i.e., the final calculation of salary also includes tax)

In [195]:
def sal(fn):
    def salary(basic,HRA,allowance):
        tax = (30/100) * basic
        basic1 = basic + tax
        return fn(basic1,HRA,allowance)
    return salary

In [196]:
@sal
def sal1(basic,HRA,allowance):
    print('Gross Salary is:', basic + HRA + allowance)
    return basic + HRA + allowance

In [197]:
sal1(10,20,30)

Gross Salary is: 63.0

63.0

5.	Write 3 examples on possible methods to changing a tuple

In [146]:
tuple1 = (1,31,5,78,9)
list1 = list(tuple1)
list1[2] = 45
tuple2 = tuple(list1)
print(tuple2)

(1, 31, 45, 78, 9)

In [155]:
tuple1 = (1,31,5,78,9)
tuple1[:2] + (10,12) + tuple1[3:]

(1, 31, 10, 12, 78, 9)