<a href="https://colab.research.google.com/github/padmasreekuppaala/Python/blob/main/Assignment_W12_W13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1.	Get the input for 2 variables though “input” function and pass them to a function to return the addition of two variables**

In [57]:
a = input("Enter first value ")
b = input("Enter second value ")

def add(a,b):
  return int(a)+int(b)

sum = add(a,b)
print('Sum is ',sum)

Enter first value 10
Enter second value 20
Sum is  30

**2.	What happens if we try to add an int with str and vice versa. Please print out the error**

In [6]:
int_val = 10
str_val = "str"

int_val + str_val

TypeError: ignored

In [7]:
int_val = 10
str_val = "str"

str_val + int_val

TypeError: ignored

**3.	Create a string variable for the word “Data Science” and see if the letter “s” is present in it using membership operators**

In [10]:
str_var = "Data Science"

if 's' in str_var:
  print('Yes')
else:
  print('No')

No

**4.	Write a function and pass a number list as an argument to the function. And return True if the first and last number of a given list is same. If numbers are different then return False**

In [23]:
def numberFunction(numlist):
  for a in numlist:
    if numlist[0] == numlist[(len(numlist))-1]:
      return True
    else:
      return False

numberFunction([1,2,3,4,5,2,3,1])

True

**5.	Iterate the given list of numbers (l1) and print only those numbers which are divisible by 5. (l1 = [10, 20, 33, 46, 55])**

In [24]:
l1 = [10, 20, 33, 46, 55]
for i in l1:
  if (i % 5 == 0):
    print(i)

10
20
55

**6.	Write a program to create function calculation() such that it can accept two variables and calculate addition and subtraction. Also, it must return both addition and subtraction in a single return call.
a.	Hint: Separate return values with a comma **

In [27]:
def calculation(a,b):
  add = a + b
  sub = a - b

  return (add,sub)

calculation(10,5)

(15, 5)

**7.	Write a program to demonstrate the following Syntax error
a.	SyntaxError: non-default argument follows default argument **

In [31]:
def arguments(arg1='first argument',arg2):
  print(arg1)
  print(arg2)

arguments('second argument')

SyntaxError: ignored

**8.	What’s recursion? Explain in your own words and write a program to create a recursive function to calculate the sum of numbers from 0 to 10**

Recursion : Calling the same function repeatedly

In [55]:
def recursion(x):
  if x == 0:
    return x
  else:
    return (x + recursion(x-1))
    
num = 10
print('Sum is ', recursion(num))

Sum is  55

**9.	Use filter and lambda function to calculate square for below numbers only if they are odd number
a.	[12, 11, 53, 22, 21, 77, 87, 88, 98] **

In [43]:
a = [12, 11, 53, 22, 21, 77, 87, 88, 98] 
li = list(filter(lambda x: x % 2 == 1, a))
[a ** 2 for a in li]

[121, 2809, 441, 5929, 7569]

**10.	 Write a function (not a lambda function) and use it to demonstrate an example for map function (any logical function of your choice)**

In [52]:
def mod(li,var):
  mylist = [b % var for b in li]
  return mylist

lt = list(map(lambda x : x * 3,mod([10,20, 40, 60, 81, 110, 35, 12],10)))
print(lt)

[0, 0, 0, 0, 3, 0, 15, 6]